* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #f04c25;
    color: black;
}

.container {
    width: 1024px;
    padding: 25px;
    margin: 25px auto;
    background-color: ghostwhite;
    color: inherit;
    border-radius: 25px;
}

h1, h2 {
    padding: 20px 0px 10px 0px;
}

ul {
    margin-left: 15px;
    margin-top: 15px;
}